<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
  <mat-tab label="Stairs">
    <mat-grid-list cols="3" rowHeight="2:2">
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=1">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=2">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=3">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=4">
      </mat-grid-tile>
    </mat-grid-list>    
  </mat-tab>
  <mat-tab label="Renovations">
    <mat-grid-list cols="3" rowHeight="2:2">
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=5">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=6">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=7">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=8">
      </mat-grid-tile>
    </mat-grid-list>     
  </mat-tab>
  <mat-tab label="Others">
    <mat-grid-list cols="3" rowHeight="2:2">
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=9">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=10">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=11">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://picsum.photos/300/300?random=12">
      </mat-grid-tile>
    </mat-grid-list>    
  </mat-tab>
</mat-tab-group>