<div class="app-container">
    <nav-bar-component></nav-bar-component>
    
    <mat-divider></mat-divider>
    <informative-banner-component
        [title]='"About us"'
        [content]='"Lorem ipsum.Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum"'
        >
    </informative-banner-component>

    <mat-divider></mat-divider>
    <!-- Move it to section component -->
    <section class="m20">
        <h2>Our work</h2>
        <tab-group-component></tab-group-component>
    </section>
    
    <mat-divider></mat-divider>
    <footer-component></footer-component>
</div>