<div class="app-container">
    <section class="m20">
        <nav-bar-component></nav-bar-component>
    </section>
    <section class="m20">
        <h2>About us</h2>
        <p>
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
        </p>
    </section>
    <section class="m20">
        <h2>Our popular products</h2>
        <informative-card-component></informative-card-component>
        <informative-card-component></informative-card-component>
    </section>
    <section class="m20">
        <h2>Our work</h2>
        <tab-group-component></tab-group-component>
    </section>
    <section class="footer m20">
        <h2>Footer</h2>
    </section>
</div>